// google fonts
$font-url: "https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Roboto:wght@100;300;400;500;700;900&display=swap";

$theme-font: (
  body-font: '"Roboto", sans-serif',
  heading-font: '"Sora", sans-serif',
);
