@use "../utils" as *;

/*====================
9. Pagination css 
======================*/

.pagination {
  @include flex(center);
  margin-top: 50px;

  .page-item {
    .page-link {
      border: none;
      background: var(--theme-bg-light);
      color: var(--color-dark);
      font-weight: 500;
      margin: 0 6px;
      border-radius: 12px !important;
      width: 40px;
      height: 40px;
      line-height: 28px;
      text-align: center;
      transition: var(--transition);
      z-index: 1;
    }

    .page-link:hover,
    &.active .page-link {
      background: var(--theme-color);
      color: var(--color-white);
    }
  }
}
