@use "../utils" as *;

/*====================
24. Error css 
======================*/

.error {
  &-wrap {
    text-align: center;

    h2 {
      font-size: 250px;
      letter-spacing: 5px;
      font-weight: bold;
      color: var(--theme-color);

      @media #{$max-767} {
        font-size: 160px;
      }

      span {
        color: var(--color-dark);
      }
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 10px;
    }
    img {
      width: 100%;
    }

    .theme-btn {
      margin-top: 30px;
    }
  }
}
