@use "../utils" as *;

/*====================
29. Testimonial css 
======================*/

.testimonial {
  &-item {
    position: relative;
    margin: 2px;
    padding-bottom: 25px;
    display: flex;
    gap: 20px;

    @media #{$max-991} {
      flex-direction: column;
    }

    .content {
      background: var(--theme-bg-light2);
      border-radius: 20px;
      padding: 40px;
      position: relative;
      z-index: 1;

      .icon {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background: var(--theme-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px 0 50px 50px;
        margin-bottom: 30px;
        z-index: -1;

        img {
          width: 45px !important;
          @include filter-white;
        }
      }

      .rating {
        color: var(--color-white);
        margin-bottom: 40px;
        border: 1px solid var(--border-info-color);
        background: var(--theme-color2);
        width: fit-content;
        padding: 2px 10px;
        border-radius: 50px;
      }

      .quote p {
        color: var(--body-text-color);
      }

      .author {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 35px;
        padding-top: 35px;
        border-top: 1px solid var(--border-info-color);

        &-img img {
          width: 60px;
          border-radius: 50px;
        }

        &-info {
          h4 {
            font-size: 18px;
            color: var(--color-dark);
          }

          p {
            color: var(--theme-color);
            margin-top: 10px;
            line-height: 1;
          }
        }
      }
    }

    .author-video {
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
      border-radius: 20px;

      img {
        border-radius: 20px;
        max-width: 250px;

        @media #{$max-991} {
          max-width: 100%;
          height: 220px;
          object-fit: cover;
        }
      }

      .play-video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        line-height: 60px;
        padding-left: 3px;
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(15px);
        border-radius: 50px;
        color: var(--color-white);
        text-align: center;
        font-size: 24px;
      }
    }

    &:hover {
      .author-video {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &-left-img {
    img {
      border-radius: 20px;
      width: 100%;
    }
  }
}

/* testimonial-slider */
.testimonial-slider {
  .owl-dots {
    text-align: center;
    margin-top: 10px;

    .owl-dot {
      span {
        background: var(--theme-color);
        margin: 5px 7px;
        border-radius: 10px;
        width: 8px;
        height: 8px;
        display: inline-block;
        transition: var(--transition);
        position: relative;
      }

      &.active span {
        background-color: var(--theme-color);
      }

      &.active span::before {
        content: "";
        position: absolute;
        inset: -4px;
        border: 1.6px solid var(--theme-color);
        border-radius: 50px;
      }
    }
  }

  &.owl-dot-none {
    .testimonial-item {
      padding-bottom: 0;
    }

    .owl-dots {
      display: none;
    }
  }
}
